@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --blue: #2057f2;
  --indigo: #426ae4;
  --black: #24272b;
  --dark-blue: #182b54;
  --light-blue: #97b1f9;
  --extralight-blue: #eff3ff;
  --white: #fafafa;
  --green: #28f1a4;
  --light-green: #affdde;
  --grey: #d9dae0;

  --gradient1: linear-gradient(
    90deg,
    rgba(110, 140, 223, 1) 0%,
    rgba(112, 143, 222, 1) 19%,
    rgba(119, 155, 222, 1) 38%,
    rgba(130, 175, 222, 1) 57%,
    rgba(146, 203, 222, 1) 75%,
    rgba(166, 238, 222, 1) 94%,
    rgba(175, 253, 222, 1) 100%
  );
  /* background: rgb(110,140,223); 
  background: -webkit-linear-gradient(90deg, rgba(110,140,223,1) 0%, rgba(112,143,222,1) 19%, rgba(119,155,222,1) 38%, rgba(130,175,222,1) 57%, rgba(146,203,222,1) 75%, rgba(166,238,222,1) 94%, rgba(175,253,222,1) 100%);
  background: -moz-linear-gradient(90deg, rgba(110,140,223,1) 0%, rgba(112,143,222,1) 19%, rgba(119,155,222,1) 38%, rgba(130,175,222,1) 57%, rgba(146,203,222,1) 75%, rgba(166,238,222,1) 94%, rgba(175,253,222,1) 100%);
  background: -o-linear-gradient(90deg, rgba(110,140,223,1) 0%, rgba(112,143,222,1) 19%, rgba(119,155,222,1) 38%, rgba(130,175,222,1) 57%, rgba(146,203,222,1) 75%, rgba(166,238,222,1) 94%, rgba(175,253,222,1) 100%);
  background: linear-gradient(90deg, rgba(110,140,223,1) 0%, rgba(112,143,222,1) 19%, rgba(119,155,222,1) 38%, rgba(130,175,222,1) 57%, rgba(146,203,222,1) 75%, rgba(166,238,222,1) 94%, rgba(175,253,222,1) 100%); */
  --gradient2: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(33, 248, 165, 1) 15%
  );
  /* background: rgb(250,250,250);
    background: -moz-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(33,248,165,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(33,248,165,1) 100%);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(33,248,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#21f8a5",GradientType=1); */

  --gradient3: linear-gradient(
    90deg,
    rgba(13, 67, 220, 1) 0%,
    rgba(110, 140, 223, 1) 15%
  );
  /*  background: rgb(13,67,220);
      background: -moz-linear-gradient(90deg, rgba(13,67,220,1) 0%, rgba(110,140,223,1) 15%);
      background: -webkit-linear-gradient(90deg, rgba(13,67,220,1) 0%, rgba(110,140,223,1) 15%);
      background: linear-gradient(90deg, rgba(13,67,220,1) 0%, rgba(110,140,223,1) 15%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d43dc",endColorstr="#6e8cdf",GradientType=1);*/
  --gradient4: linear-gradient(
    90deg,
    rgba(66, 106, 228, 1) 0%,
    rgba(110, 140, 223, 1) 15%
  );
  /*background: rgb(66,106,228);
        background: -moz-linear-gradient(90deg, rgba(66,106,228,1) 0%, rgba(110,140,223,1) 15%);
        background: -webkit-linear-gradient(90deg, rgba(66,106,228,1) 0%, rgba(110,140,223,1) 15%);
        background: linear-gradient(90deg, rgba(66,106,228,1) 0%, rgba(110,140,223,1) 15%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#426ae4",endColorstr="#6e8cdf",GradientType=1);  */

  --montserrat: "Montserrat", Avenir, Helvetica, Arial, sans-serif;
  --fredoka: "Fredoka", Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: var(--montserrat);
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  background-color: var(--extralight-blue);
  border-radius: 1rem;
  padding: 1rem;
}

nav ul li {
  border-inline-end: 1px solid var(--blue);
  padding-right: 1rem;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 480px;
  font-family: var(--montserrat);
}

#menu {
  display: flex;
  gap: 3rem;
  max-width: 80%;
  justify-content: center;
  align-items: baseline;
  margin: auto;
}

.card-menu {
  background-color: var(--indigo);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.card-menu:hover {
  filter: brightness(90%);
}

.navigationCard-label {
  font-family: var(--fredoka);
  color: var(--white);
}

form {
  width: 90%;
  margin: auto;
}

button {
  border: none;
  border-radius: 10rem;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: transparent;
  font-family: var(--montserrat);
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Login and Register */
#login,
#register {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

#login input,
#register input {
  background-color: var(--extralight-blue);
  border: none;
  font-family: var(--montserrat);
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

#login input:focus,
#register input:focus {
  outline: var(--light-blue) 2px solid;
}

#login label,
#register label {
  color: var(--black);
  font-family: var(--fredoka);
  font-size: 1.2rem;
}

/* Incomes */

/* General styles */
.display-flex {
  display: flex;
}

.autolayout-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.autolayout-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gap-2 {
  gap: 2rem;
}

.black-text {
  color: var(--black);
}

.section-info {
  background-color: var(--extralight-blue);
  border-radius: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

/* Buttons */
.btn-filled-blue {
  background-color: var(--blue);

  color: var(--white);
  font-size: 1.1rem;
}

.btn-filled-blue:focus {
  filter: brightness(95%);
}

.btn-text-blue {
  color: var(--blue);
}

.btn-text-blue:focus {
  font-weight: 500;
}

#newIncome input:not(.input-calculator):not([type="checkbox"]),
#newIncome textarea,
#newIncome select,
#newOutcome input:not(.input-calculator):not([type="checkbox"]),
#newOutcome textarea,
#newOutcome select,
#categorias input:not(.input-calculator):not([type="checkbox"]),
#categorias select,
#categorias textarea {
  height: 3rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  border: var(--indigo) 1px solid;
  color: var(--dark-blue);
  width: 100%;
  background-color: var(--white);
}

#categorias {
  background-color: red;
}
