.bg {
  background-color: rgb(70, 203, 159);
}
:root {
  --blue: #09f;
}

.blue {
  background: var(--blue);
}

.blue-lighter {
  background: color-mix(in srgb, var(--blue), white 75%);
}

.blue-light {
  background: color-mix(in srgb, var(--blue), white);
}

.blue-dark {
  background: color-mix(in srgb, var(--blue), black 25%);
}

.blue-darker {
  background: color-mix(in srgb, var(--blue), black);
}

.fondo {
  background-color: rgb(186, 133, 17);
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.icon-white {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
